<h1>New Task</h1>

<%= form_with(model: @task, url: tasks_path) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_area :title %>

    <%= form.label :details %>
    <%= form.text_area :details %>

    <%= form.check_box :completed, checked: true %>
    <%= form.label :completed %>
  </div>

  <div>
    <%= form.submit 'Create Task' %>
  </div>
<% end %>

<p><%= link_to 'Tasklist', tasks_path %></p>
